header {
    background-color: #333;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
    margin-left: 20%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #888888;
    font-weight: bold;
    font-size: 0.9rem;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
}


section {
    font-family: Arial, sans-serif;
}

.section {
    position: relative;
    padding: 20px;
    width: 100%;
    height: 120vh;
    background-image: url('suzuki_photos/selbeg_bag.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
  }
  
  .timing,
  .phone,
  .paragraph {
    color: #fff;
    font-weight: bold;
  }
  
  .timing {
    font-size: 1.6vw;
    position: absolute;
    top: 2vw;
    left: 2vw;
}

.phone {
    font-size: 1.4vw;
    position: absolute;
    top: 2vw;
    right: 4vw;
}

.heading {
        color: #E0E79D;
        position: absolute;
        right: 20px;
}
.paragraph {
  color: #888888;
  position: absolute;
  right: 20px;
}

.heading {
  font-size: 24px;
  background-color: #888888;
  height: 60px;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}

.paragraph {
  font-size: 16px;
  bottom: 3%;
  width: 45%;
}

@media only screen and (max-width: 768px) {
  .heading,
  .paragraph {
    width: 100%;
    text-align: center;
  }

  .heading {
    font-size: 20px;
    bottom: 50px;
  }

  .paragraph {
    font-size: 14px;
    bottom: 0;
  }
}

.BagHamtOlon {
    background-color: #292929;
    width: 95%;
    margin-left: 2.5%;
    border-radius: 20px;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(224, 231, 157, 0.5);
    background-color: #2e2b2b;
}

.article-section {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
    width: 10%;
}

.article-image {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
}

h3 {
    color: #fff;
}

h2 {
    color: #E0E79D;
    margin-left: 40%;
}

.article-container:nth-child(odd) .article-section:first-child {
    order: 2;
}

.article-container:nth-child(odd) .article-section:last-child {
    order: 1;
}

    